---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "404",
	description: "哎呀，出问题了",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | 哎呀，出问题了</h1>
	<div class="my-4 grid justify-center">
		<Image
			class="rotate-180"
			src={aboutImg}
			alt=""
			loading="eager"
		/>
	</div>
</PageLayout>
