---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "关于",
	description: "关于我本人的介绍",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">关于我</h1>
		<p>Hi, 我是Cooloo，一个前端程序员，喜欢电影，游戏，爱好地理。</p>
		<p>本着开放的学习态度，我在博客里分享我的所见所得，一起探讨，一起成长。如果你有兴趣，首页有我的邮箱，期待你的来信。</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt=""
			/>
		</div>
	</div>
</PageLayout>
