---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Astro",
		desc: "构建快速、以内容为中心的 Web 框架。",
		href: "https://astro.build",
	},
	{
		title: "Astro Assets",
		desc: "Astro 内置的优化资产支持。",
		href: "https://docs.astro.build/en/guides/assets/",
	},
	{
		title: "Tailwind CSS",
		desc: "快速、灵活、可靠，没有运行时负担。",
		href: "https://tailwindcss.com",
	},
	{
		title: "Markdown",
		desc: "简单易用的标记语言。",
		href: "https://www.markdownguide.org/",
	},
	{
		title: "MDX",
		desc: "让 Markdown 步入组件时代。",
		href: "https://mdxjs.com/",
	},
	{
		title: "Pagefind",
		desc: "一个完全静态的搜索库。",
		href: "https://pagefind.app/",
	},
	{
		title: "Astro Icon",
		desc: "Astro 的一个易于使用的图标组件。",
		href: "https://github.com/natemoo-re/astro-icon#readme",
	},
];
---

<PageLayout meta={{ title: "首页" }}>
	<section>
		<h1 class="title mb-6">Cooloo的前端游乐场</h1>
		<p class="mb-4">
			走进前端的世界，在进阶之路上，拿起键盘开始敲，共勉！
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">文章</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">技术</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				cactusTech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>：<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
